-cache ['v3', protip, hide_on_profile] do
  .protip.card.clearfix.py2.likeable[protip]{id: dom_id(protip)}
    .col{class: hide_on_profile}
      .px2.mt-third
        = react_component 'HeartButton', props: { heartableId: protip.dom_id,
          href: protip_likes_path(protip) }
    .overflow-hidden
      %h3.mt0.mb0
        %a.diminish-viewed[:headline]{:href => protip_path(protip)}=protip.title
      .font-sm
        %span{class: hide_on_profile}
          =link_to protip.user.try(:username), profile_path(username: protip.user.username)
          .diminish.inline &middot;

        .diminish.inline
          %a[:url]{href: protip_path(protip)}
            =pluralize(protip.comments.size, 'responses')
          &middot;
          =protip.display_tags
