.protip.card.clearfix.p1.mb2
  %a.heart.left.ml1.mr2{href: '/'}
    .center.highlight=fa_icon("heart-o")
    .center.font-tiny.diminish=rand(44)
  .overflow-hidden
    %h3.mt0.mb0
      %a{:href => protip_path(protip)}=protip.title
    .font-sm.diminish.inline
      =protip.display_date
      &middot;
      =link_to "5 response", protip_path(protip)
      &middot;
    .font-sm.inline=link_to protip.user.try(:username), profile_path(protip.user)
