-cache ['v4', protip, hide_on_profile] do
  .protip.card.clearfix.py2.likeable[protip]{id: dom_id(protip)}
    .col.col-1{class: hide_on_profile}
    .col.col-11.overflow-hidden
      %h3.mt0.mb0
        %a.diminish-viewed[:headline]{:href => seo_protip_path(protip)}=protip.title
      .font-sm
        %span{class: hide_on_profile}
          =link_to protip.user.try(:username), profile_path(username: protip.user.username)
          .diminish.inline &middot;

        .diminish.inline
          %a[:url]{href: slug_protips_url(id: protip.public_id, slug: protip.slug)}
            =pluralize(protip.comments.size, 'response')
          &middot;
          =protip.display_tags
