.protip.card.clearfix.p1.mb2
  %a.heart.left.ml1.mr2{href: '/'}
    .center.highlight=icon("heart-o")
    .center.font-tiny.diminish=number_to_human(protip.likes_count, precision: 2)
  .overflow-hidden
    %h3.mt0.mb0
      %a{:href => protip_path(protip)}=protip.title
    .font-sm.diminish.inline
      %a{href: protip_path(protip)}
        =pluralize(protip.comments.size, 'responses')
      &middot;
      ==#{time_ago_in_words(protip.created_at)} ago
      &middot;
    .font-sm.inline
      =link_to protip.user.try(:username), profile_path(username: protip.user.username)
