.protip.card.clearfix.p1.mb2.likeable{id: dom_id(protip)}
  = react_component 'ProtipHeart',
    id: dom_id(protip),
    href: protip_likes_path(protip),
    initialCount: protip.likes_count

  .overflow-hidden
    %h3.mt0.mb0
      %a{:href => protip_path(protip)}=protip.title
    .font-sm.diminish.inline
      %a{href: protip_path(protip)}
        =pluralize(protip.comments.size, 'responses')
      &middot;
      ==#{time_ago_in_words(protip.created_at)} ago
      &middot;
    .font-sm.inline
      =link_to protip.user.try(:username), profile_path(username: protip.user.username)
