.protip.card.clearfix.p1.mb2
  %a.heart.left.ml1.mr2{href: '/'}
    .center.highlight=fa_icon("heart-o")
    .center.font-tiny.diminish=rand(44)
  .overflow-hidden
    %a{:href => protip_path(protip)}
      %h3.mt0.mb0=protip.title
    .font-sm.diminish
      =protip.display_date
      &middot;
      ="5 response"
      &middot;
      =link_to protip.user.try(:username), profile_path(protip.user)
