- title 'Popular Coding Tips From Our Community'
- keywords Category.top
  
.continer
  .clearfix.center
    %h1 Popular Coding Tips From Our Community
    .clearfix
      .md-col.md-col-1.md-show &nbsp;
      .sm-col.sm-col.sm-col-12.md-col-10
        -Category.top.each do |category|
          %a.p2.mt1.inline-block{href: popular_topic_path(topic: category)}
            =t category, scope: [:categories, :short]
      .md-col.md-col-1.md-show &nbsp;
  .clearfix.mt4
    .md-col.md-col-2.md-show &nbsp;
    .sm-col.sm-col.sm-col-12.md-col-8
      -if signed_in?
        .mb2.purple{style: "border-bottom:solid 5px;"}
          %h3.black Trending Today
        =render @protips
        .clearfix
          .btn.left=link_to('More trending protips', trending_path)
      -else
        .mb2.purple{style: "border-bottom:solid 5px;"}
          %h3.black Most Viewed This Month
        =render @protips
        .clearfix
          .btn.left=link_to('More popular protips', popular_path)

    .md-col.md-col-2.md-show &nbsp;
