- title "A community space for developers"

#current-users-liked-as-json.hide=current_user_liked_list

.continer
  -if protips_view_breadcrumbs.present?
    .mxn1.mb3
      -protips_view_breadcrumbs.each do |name, link|
        %a.btn.m0.px1{href: link}=name
        .inline.hide_last_child /

  .clearfix
    .sm-col.sm-col.sm-col-12.md-col-8
      =render @protips
      .clearfix
        .btn.left= link_to_previous_page @protips, 'Previous'
        .btn.right= link_to_next_page @protips, 'Next'
    .md-col.md-show.md-col-4{class: hide_on_protip_exploration}
      .clearfix.ml3
        %h4
          =icon 'bolt', class: 'mr1'
          Introducing Coderwall 3.0
        %p.mt2 We hope this shiny brand new version of Coderwall makes you smile. We're on a mission to make the software world smaller - watch for alot more to come.
        -# %a Read the full announcement

        -cache 'protip_quick_links', expires_in: 10.minutes do
          %h4.mt4
            =icon 'calendar', class: 'mr1'
            Most viewed this month
          -Protip.recently_most_viewed.each do |protip|
            .clearfix.mt2
              =link_to(protip.title, protip_path(protip), class: 'black no-hover')
              .font-sm
                =link_to protip.user.username, profile_path(username: protip.user.username)
                .diminish.inline
                  &middot;
                  = protip.display_tags
          .block.mt2.bold=link_to 'More popular protips', popular_path

          %h4.mt4
            =icon 'magic', class: 'mr1'
            Recent activity
          -Protip.recently_created.each do |protip|
            .clearfix.mt2
              =link_to(protip.title, protip_path(protip), class: 'black no-hover')
              .block
                .font-sm
                  =link_to protip.user.username, profile_path(username: protip.user.username)
                  .diminish.inline
                    &middot;
                    = protip.display_tags
          .block.mt2.bold=link_to 'More new protips', fresh_path
