-content_for :title do
  Coderwall : A community space for developers.

.continer
  .clearfix
    .sm-col.sm-col.sm-col-12.md-col-8.pr2
      =render @protips
      .clearfix
        .btn.left=  link_to_previous_page @protips, 'Previous'
        .btn.right= link_to_next_page @protips, 'Next'
    .md-col.md-col-4.md-show.px2
      %img{src: image_path('announcing-next.png')}
      -# popular ruby tips
      -# popular xx tips
