=content_for :title do
  =@protip.title

.continer
  .clearfix
    .md-col.md-col-2.md-show &nbsp;
    .sm-col.sm-col.sm-col-12.md-col-8
      .clearfix.mt0.mb2
        .left.mt1
          %a.heart.flat{href: '/'}
            .highlight.mr1=fa_icon("heart-o")
            .diminish.inline=@protip.hearts_count
        .right.pt0.mt0
          .diminish.inline.mr1
            =fa_icon("eye")
            =@protip.views_count
          &middot;
          .diminish.inline.ml1.mr1="#{@protip.updated_at.to_formatted_s(:explicitly_bold)}"
          &middot;
          .ml1.mr1.inline
            =link_to @protip.user.try(:username), profile_path(username: @protip.user.username)
          .avatar=image_tag(avatar_url(@protip.user))
      .card.p1{style: "border-top:solid 5px #{@protip.user.color}"}
        %h1.px2.mt4.center=@protip.title
        .center
          -@protip.tags.each do |tag|
            %h6.inline=tag
        .content.p2.mt3=raw CFM::Markdown.render(@protip.body)
    .md-col.md-col-2.md-show &nbsp;
