%h1=@protip.title
This tip is filed under
%h6 RUBY
,
%h6 RAILS
, &
%h6 OSX
="Published last #{@protip.updated_at.to_formatted_s(:explicitly_bold)}"
-# user
-# avatar
-# views / awards
-# share on twitter
-# comments - author/avatar/like/comment
-# like article


.content=raw CFM::Markdown.render(@protip.body)
