-title 'Post Jobs, find & hire great programmers'
%script(src="https://checkout.stripe.com/checkout.js")

.container
  %h1 Find and hire great programmers
  .clearfix
    .sm-col.sm-col.sm-col-12.md-col-8
      .mb2.purple{style: "border-bottom:solid 5px;"}
      .card.p3
        %h2.green Unlimited Job Postings for $499

        %h3
          Sign up to automatically connect and match the best developers in our community to all of your open programming jobs.


        %p
          There is no commitment, cancel anytime, and we’ll happily refund the costs if you are not seeing results after a month.


        -@subscription.errors.full_messages.each do |error|
          %p.red.bold=error

        .mt2.diminish
          Coderwall securely accepts all major credit cards.

        .clearfix.mt2
          = link_to "Cancel", jobs_path

    .md-col.md-col-4.md-show
      .ml3
        .clearfix
          .bg-white.rounded.p2

            %h4.mb2
              How it works

            %p
              Each day we monitor your company career page and open job postings for new programming jobs and automatically post them to the Coderwall job board for you. We also remove job postings that you have filled.

            %ul
              %li.mb1
                %strong No limits.
                Subscribe and we'll post all your programming job positions for only $499 a month.

              %li.mb1
                %strong Effortless.
                It is 100% on auto-pilot once you sign up your company and requires no adminstration or technical integration.

              %li.mb1
                %strong Better Talent.
                Your jobs are featured on programming tips relevant to the developer by their skill. Each job posts is a direct link back to your website or career page so developers can start exploring.


        .clearfix.mt1
          %p.bold.p2
            Have questions?
            %a{href:'mailto:support@coderwall.com'} Contact us
