.clearfix.border-top.py1
  .left.mt1.mr2.avatar.medium{style: "background-color: #{comment.user.color};"}=image_tag(avatar_url(@protip.user))
  .overflow-hidden.py0.mt0
    .clearfix
      =link_to comment.user.try(:username), profile_path(username: comment.user.username), class: 'bold black no-hover'
      .content.small=raw CFM::Markdown.render(comment.body)
      .diminish.mt1
        ==#{time_ago_in_words(comment.created_at)} ago
        &middot;
        %a{} Like?
