-cache ['v1', job] do
  .job.card.clearfix.py1.mb2[job]
    %h3.mt0.mb0
      %a.diminish-viewed[:title]{:href => job_path(job), rel: 'nofollow', target: '_blank'}=job.title
    .font-sm
      =link_to(job.company, job.company_url, rel: 'nofollow')
      .diminish.inline
        &middot;
        =job.role_type
        &middot;
        =job.location
        &middot;
        posted
        =time_ago_in_words(job.created_at)
        ago
