.contsiner
  .clearfix
    .sm-col.sm-col.sm-col-12.md-col-8
      .card.p3
        %h2 Let's find awesome candidates!

        = form_for @job do |form|
          = form.label :source, 'Job URL'
          = form.text_field :source, type: 'text', class: 'field block col-12 mb3'

          %button.btn.rounded.mt1.bg-green.white{type: 'submit'} Save

        .clearfix.mt2
          =link_to 'Cancel', :back
