%h4.mt0
  Start live streaming
%hr.mb2
%p
  Go live anytime you have something to share. What you stream is up to you; from learning something new, hacking on an interesting projects, or teaching others something you’ve already mastered.
%a.btn.p1.border.bg-blue.white.rounded.no-hover.mb2{href: new_stream_path}
  =icon('video-camera', class: 'mr1')
  Go Live Now
