<div id='stream'></div>

<% content_for :head do %>
 <script src="https://content.jwplatform.com/libraries/pEaCoeG7.js" />
<% end %>

<script>
  jwplayer.key="<%=ENV['JWPLAYER_KEY']%>";

  jwplayer("stream").setup({
     sources: [{
      file: <%== stream.rtmp_json %>
    }],
    captions: {
      color: "FFCC00",
      backgroundColor: "000000",
      backgroundOpacity: 50
    }
  });
</script>
