<div id='<%=dom_id(stream)%>'></div>

<script>
  jwplayer.key="<%=ENV['JWPLAYER_KEY']%>";

  jwplayer("<%=dom_id(stream)%>").setup({
     sources: [{
      file: <%== stream.rtmp.to_json %>
    }],
    captions: {
      color: "FFCC00",
      backgroundColor: "000000",
      backgroundOpacity: 50
    }
  }).onPlay(constrainChatToStream);

</script>
