- url = stream.broadcasting? ? profile_stream_path(username: stream.user.username) : stream_path(stream)
%a.sm-col-6.lg-col-4.no-hover{href: url, style: 'width: 350px;'}
  .mb1.bold Watch Livestream Coding
  .screen.bg-gray.bg-cover.bg-center.px4.py3.rounded{style: "background-image: url(#{stream.preview_image_url})"}
    .p2 &nbsp;
  .relative.bg-red.white.right.bold.p-tiny.font-tiny{style: 'top:-23px; margin-bottom:-23px;'} LIVE
  .clearfix.mt1
    .sm-col.mt1.mr1.avatar.small{style:"background-color: #{stream.user.color};"}
      =avatar_url_tag(stream.user)
    .overflow-hidden.py1.black
      =stream.user.username
      is live streaming
      .inline.italic=stream.title
