-title 'Coderwall Live'
-description 'Coders at work.'

.container
  .clearfix
    %h1.mb2
      Live now

    - @streams.each do |stream|
      = stream.inspect

  - if @streams.any?
    =render 'streams/player', stream: @streams.first
