-title 'Coderwall Live'
-description 'Coders at work.'

-# why
-# Community Pair Programming & Design Critiques
-# start streaming now : What are you working on?
-# Weekly Lunch and learns
-# Topics of previous streams
-# Marketing for quick stream
-# hackernoons
-# Empty state: Every Friday Live Stream
-# critique
-# live stream your side project
-# Remind me button
-# I want to present lunch and learn
-# what can you Live stream

-content_for :hero do
  .header.center.px3.py4.white.bg-gray.bg-cover.bg-center{style: "background-image: url(#{asset_path('live-banner.jpg')})"}
    %h1
      Watch Live Video Streams of
      %br.sm-show
      Developers & Designers

.container
  .clearfix
    .col.col-12.md-col-8
      .mb2.purple{style: "border-bottom:solid 5px;"}
        %h2.mt0.black
          Share & Learn Something New
        %p.clearfix.font-lg.black
          Developers and designers streaming their newest tips, tools, and projects.

      .clearfix.mt2.mb4
        %h5.mb2 Live Streams
        -if @streams.empty?
          %p.bold.purple
            =icon('tv', class: 'mr1')
            There are no live video streams at the moment.
            %a.btn.ml2.p1.border.blue.rounded.no-hover{href: new_stream_path}
              -# =icon('video-camera')
              Go Live Now
        -else
          -@streams.each do |stream|
            =render 'card', stream: stream

    .col.col-12.md-col-1.md-show &nbsp;
    .col.col-12.md-col-3
      .clearfix
        %h4.mt1
          Join the live weekly lunch & learn
        %hr.mb2
        -# add image he
        %p
          sd fsadfsadfkj asdf
        %a.inline-block.bold.pointer.p1.no-hover.mb4
          =icon('calendar', class: 'mr1')
          Add Friday's to your calendar


        - if @streams.any?
          %h4.mt1
            Start live streaming
          %hr.mb2
          %p
            Want to present? No problem. You can start all on your.
            Contact us if you have questions.

          %a.btn.p1.border.blue.rounded.no-hover{href: new_stream_path}
            -# =icon('video-camera')
            Go Live Now


        %h4.mt3 What to expect
        %hr.mb2
        %p
          What you stream is up to you; from learning something new, hacking on an interesting project, or teaching others something you’ve already mastered.

        %p
          From n00bs to masters. Anyone can start sharing.
          Range from jr-sr
          help others improve their skills, get input, and connect with others.
        -# %h2
