-title 'Coderwall Live'
-description 'Coders at work.'

-# report
-# message
-# follow
-# donate
-# tags
-# title
-# markdown
-# chat
-# past broadcasts
-# other broadcasts
-# ad

.container
  .clearfix
    .col.col-12.md-col-8
      .clearfix.mt0.mb1
        .left
          .rounded.p1.bg-red.white.bold
            LIVE
        %h3.left.m0.p1
          Streaming my favorite editor

        .right
          .diminish.inline.mr1
            =icon("eye")
            343
          &middot;
          .ml1.mr1.inline
            =link_to @user.username, profile_path(username: @user.username)
          .avatar[:image]{style: "background-color: #{@user.color};"}
            =avatar_url_tag(@user)

      .card{style: "border-top:solid 5px #{@user.color}"}
        .stream=render 'streams/player', stream: @stream

    .col.col-12.md-col-4
      .flex.flex-column.ml2
        %h4.diminish Community Chat
        #chat.flex-auto.overflow-scroll.border-top{style:"max-height:400px"}
          .diminish.center.py2 Top of Chat
          =render Comment.limit(100)
        .flex-last.border.p1.mt2
          Comment here

  .clearfix
