%header.border-bottom
  %nav.clearfix.py2
    .col.col-4.sm-col-3.md-col-2
      .sm-ml1
        %a.btn.logo.relative{:href => root_url}
          .absolute{:style => "top: 2px"}
            = render 'shared/logo'
          .left.font-x-lg{:style => "padding-left: 35px;"}
            Coderwall
    .col.col-3.sm-col-6.md-col-8.h6
      %a.btn.muted-until-hover.xs-hide.sm-mr1{href: '/ruby/popular'} Ruby
      %a.btn.muted-until-hover.xs-hide{href: '/python/popular'} Python
      %a.btn.muted-until-hover.xs-hide{href: '/javascript/popular'} Javascript
      %a.btn.muted-until-hover.xs-hide.sm-only-hide{href: '/web/popular'} Front-End
      %a.btn.muted-until-hover.xs-hide.sm-only-hide{href: '/tools/popular'} Tools
      %a.btn.muted-until-hover.xs-hide.sm-only-hide{href: '/ios/popular'} iOS
      .btn.dropdown{style: 'margin-top: -3px;'}
        %span.h3.muted-until-hover
          =icon('sort-down', class: 'relative xs-hide', style: 'top: -2px; margin-right: 2px;')
        %span.muted-until-hover.xs-ml3
          %span.xs-hide More
          Tips
        .dropdown-content.bg-white.mt1.py1.border.z4{style: 'left:0'}
          %a.btn.py1.muted-until-hover.sm-hide{href: '/ruby/popular'} Ruby
          %a.btn.py1.muted-until-hover.sm-hide{href: '/python/popular'} Python
          %a.btn.py1.muted-until-hover.sm-hide{href: '/javascript/popular'} Javascript
          %a.btn.py1.muted-until-hover.md-hide.nowrap{href: '/web/popular'} Front-End
          %a.btn.py1.muted-until-hover.md-hide{href: '/tools/popular'} Tools
          %a.btn.py1.muted-until-hover.md-hide{href: '/ios/popular'} iOS
          %a.btn.py1.muted-until-hover{href: '/php/popular'} PHP
          %a.btn.py1.muted-until-hover{href: '/android/popular'} Andriod
          %a.btn.py1.muted-until-hover{href: '/dot-net/popular'} .NET
          %a.btn.py1.muted-until-hover{href: '/java/popular'} Java
          %a.btn.py1.muted-until-hover.green.md-hide{:href => jobs_path} Jobs

      %a.btn.border-left.xs-hide.sm-only-hide{:href => jobs_path}
        .green Jobs

    .col.col-5.sm-col-3.md-col-2
      .right.pr2
        - if signed_in?
          %a.btn.rounded.purple.border.font-sm.mr1{:href => new_protip_path}
            .sm-hide Post
            .inline.sm-show Post Tip
          %a.no-hover.black.mr2{href: profile_path(username: current_user.username)}
            .avatar{style: "background-color: #{current_user.color};"}=image_tag(avatar_url(current_user), alt: current_user.username)
        - else
          %a.btn.btn-primary.bg-purple.white.ml1{:href => sign_in_path} Sign In or Up
