- title "FAQ"

.container
  %h1 FAQ

  .clearfix.sm-col.sm-col-6
    %h3= link_to 'What are these pro tips all about?', '#', 'name' => 'describeprotips'
    %p Pro tips are an easy way to share and save interesting links, code, and ideas. Pro tips can be hearted by the community, earning karma for the author  and raising the visibility of the tip for the community.

    %h3= link_to 'How do I delete a team?', '#', 'name' => 'deleteteam'
    %p The team will be deleted once all the members leave the team.

    %h3= link_to 'I just qualified for a new achievement, why isn\'t it on my profile?', '#', 'name' => 'profileupdates'
    %p Achievemnts are temporarily disabled as we work to introduce a new upgraded system.
