- title "FAQ"

.container.clearfix
  %h1 FAQ
  %h3.mt3= link_to 'How do I delete my account?', '#', 'name' => 'deleteaccount'
  %p
    You must be logged in to delete your account.
    Once you are logged in visit
    %a{href: 'https://coderwall.com/delete_account', rel: 'nofollow'} https://coderwall.com/delete_account
    and locate the trash icon next to the edit button. Please note this action is irreversible.

  %h3.mt3= link_to 'What happened to the badges?!', '#', 'name' => 'profileupdates'
  %p We miss them too! We're still hoping we'll get them back into the site one day.
  
  %h3.mt3= link_to 'Can I help Coderwall?', '#', 'name' => 'source'
  %p You sure can! You can find the [source on GitHub.](https://github.com/coderwall/coderwall-next]


:javascript
  var h = window.screen.height;
  var w = window.screen.width;
  var r = w / h;

  var base = document.getElementById('base-resolution');
  var calc = document.getElementById('calc-resolution');

  base.textContent = w + 'x' + h;
  calc.textContent = r == 1.6 ? ('1280x800') : base.textContent;
