-content_for :title do
  404 : Coderwall was unable to handle that url

.clearfix
  .col.col-12{style:'margin-top: 10%;'}
    .center
      %h1 404! Our feels when that url is used
      =icon('thumbs-o-down', style:'font-size:80px')
