- title "Privacy Policy"

.container
  %h1 Privacy Policy
  %h4 Effective May 25th 2018

  %p Assembly Made, Inc. (“Assembly Made”, “our”, “us” or “we”) provides this Privacy & Cookies Policy to inform you of policies and procedures on the collection, use and disclosure of your information when you use the services, websites, and applications offered by coderwall.com (the "services", this “Site”, or "Coderwall") and tells you about your privacy rights and how the law protects you. By using the Services, you consent to our use of your information in accordance with this Privacy & Cookies Policy. We will not use or share your personal information with anyone except as described in this Privacy & Cookies Policy. Capitalized terms that are not defined in this Privacy & Cookies Policy have the meaning given them in our Terms of Service.
  %p This Privacy & Cookies Policy is intended to meet our duties of transparency under the “General Data Protection Regulation” or “GDPR”.
  %p We will post any modifications or changes to this Privacy & Cookies Policy on this page.

  %h3 Who We Are and How to Contact Us
  %p
    %b Who we are.
    Assembly Made, Inc. is the Controller (for the purposes of the GDPR) of your Personal Data (referred to as either “Assembly Made”, “we”, “us” or “our” in this Privacy & Cookies Policy). Our mailing address is 548 Market St #45367 San Francisco, CA 94104-5401.
  %p
    %b How to contact us.
    If you have any questions about our practices or this Privacy & Cookies Policy, please contact us at support@coderwall.com.

  %h3 Your Rights Relating To Your Personal Data
  %p
    You have the right under this Privacy and Cookies Policy, and by law if you are within the EU, to:
    %ul
      %li Request access to your Personal Data. If you are within the EU, this enables you to receive a copy of the Personal Data we hold about you and to check that we are lawfully processing it.
      %li Request correction of the Personal Data that we hold about you. This enables you to have any incomplete or inaccurate information we hold about you corrected.
      %li Request erasure of your Personal Data. This enables you to ask us to delete or remove Personal Data where there is no good reason for us continuing to process it. You also have the right if you are within the EU to ask us to delete or remove your Personal Data where you have exercised your right to object to processing (see below).
      %li Object to processing of your Personal Data. This right exists where we are relying on a legitimate interest as the legal basis for our processing and there is something about your particular situation, which makes you want to object to processing of your Personal Data on this ground. You also have the right to object where we are processing your Personal Data for direct marketing purposes.
      %li Request the restriction of processing of your Personal Data. This enables you to ask us to suspend the processing of Personal Data about you, for example if you want us to establish its accuracy or the reason for processing it.
      %li Request the transfer of your Personal Data. If you are within the EU, we will provide to you, or a third party you have chosen, your Personal Data in a structured, commonly used, machine-readable format. Note that this right only applies to automated information which you initially provided consent for us to use or where we used the information to perform a contract with you.
      %li Withdraw consent. This right only exists where we are relying on consent to process your Personal Data (“Consent Withdrawal”). If you withdraw your consent, we may not be able to provide you with access to the certain specific functionalities of our Site. We will advise you if this is the case at the time you withdraw your consent.

  %h3 How to Exercise Your Rights
  %p If you want to exercise any of the rights described above, please contact us using the contact details in Who We Are and How to Contact Us.
  %p Typically, you will not have to pay a fee to access your Personal Data (or to exercise any of the other rights). However, except in relation to Consent Withdrawal, we may charge a reasonable fee if your request is clearly unfounded, repetitive or excessive, or, we may refuse to comply with your request in these circumstances.
  %p We may need to request specific information from you to help us confirm your identity and ensure your right to access your Personal Data (or to exercise any of your other rights). This is a security measure to ensure that Personal Data is not disclosed to any person who has no right to receive it. We may also contact you to ask you for further information in relation to your request to speed up our response.
  %p We try to respond to all legitimate requests within one month. Occasionally it may take us longer than a month if your request is particularly complex or you have made a number of requests. In this case, we will notify you and keep you updated.

  %h3 Complaints
  %p If you would like to submit a complaint regarding this Privacy Policy or our practices in relation to your Personal Data, please contact us at: support@coderwall.com.
  %p We will reply to your complaint as soon as we can.
  %p If you feel that your complaint has not been adequately resolved, please note that if you are in the EU the GDPR gives you the right to contact your local data protection supervisory authority, which for the UK, is the Information Commissioner’s Office.

  %h3 Marketing Communications Preferences
  %p
    You can ask us to stop sending you marketing messages or modify your email preferences at any time through any of the following methods:
    %ul
      %li by following the opt-out links on any marketing message sent to you
      %li through your account settings on your profile
      %li by contacting us at any time using the contact details in Who We Are and How to Contact Us.
  %p Where you opt out of receiving these marketing messages, this will not apply to Personal Data provided to us as a result of emails relating to existing or pending hires, purchases or subscriptions using the Services or consent to direct marketing communications.


  %h3 Personal Information We Collect
  %p We use Personal Data we collect to provide the Services, personalize content, remember information to help you efficiently access your account, analyze how the Services are used, diagnose service or technical problems, maintain security, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track user content and users as necessary to comply with the Digital Millennium Copyright Act and other applicable laws.

  %p
    There are many occasions when you provide information that may enable us to identify you personally (“Personal Data”) while using the Services. The Personal Data we may collect from you is outlined below:
    %ul
      %li Identity Data -	First name, last name, maiden name, last name, username or similar identifier, password, marital status, title, date of birth and gender, picture.
      %li Contact Data - Your email address, home address, work address, billing address and telephone numbers.
      %li Professional Background Data:	Educational and professional history, interests and accomplishments, projects completed.
      %li Online Presence Data - Links to your public account pages at social media websites, links to personal websites, your log-in credentials for Twitter or other third party sites and other online materials related to you.
      %li Financial Data - Your bank account and payment card details.
      %li Transaction Data - Any details about payments to and from you and other details of subscriptions and services you have purchased from us. Data in respect of your transactions with third parties (including your credit history).
      %li Content Data - Any content you post to the Services not already included in another category, including without limitation, your profiles, preferences, settings, questions, answers, messages, comments, and other contributions on the Services, and metadata about them (such as when you posted them) ("Content").
      %li Marketing and Communications Data - Your preferences in receiving marketing from us and our third parties and your communication preferences. If you correspond with us by email or messaging through the Services, we may retain the content of such messages and our responses.
      %li Behavioral Data -	Inferred or assumed information relating to your behavior and interests, based on your online activity. This is most often collated and grouped into “segments”.
      %li Technical Data - Internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform and other technology on the devices you use to access this website or use our services.

  %p
    %b Personal Data from Third Party Sources.
    In addition to the Personal Data that we collect directly from you (as described in the section immediately above this one), we may also collect certain of your Personal Data from third party sources, some of which may not be publicly available. Examples of these sources are broken down below:
    %ul
      %li Social media sites - Identity Data, Contact Data, and Online Presence Data
      %li Our affiliates - Identity Data, Contact Data, Marketing and Communications Data, Behavioral Data, Transaction Data, Financial Data, and Content Data
      %li Analytics providers	- Behavioral Data and Technical Data
      %li Advertisers	- Behavioral Data and Technical Data
      %li Data brokers - Identity Data, Contact Data, Behavioral Data, Technical Data, and Online Presence Data

  %p
    %b Aggregated Data.
    We may also collect, use and share “Aggregated Data” such as statistical or demographic data for any purpose. Aggregated Data may be derived from your Personal Data, but once in aggregated form it will not constitute Personal Data for the purposes of the GDPR as this data does not directly or indirectly reveal your identity. However, if we combine or connect Aggregated Data with your Personal Data so that it can directly or indirectly identify you, we treat the combined data as Personal Data which will be used in accordance with this Privacy & Cookies Policy.

  %p
    %b No Special Categories of Personal Data.
    We do not collect any “Special Categories of Personal Data” about you (this includes details about your race or ethnicity, religious or philosophical beliefs, sexual orientation, political opinions, trade union membership, information about your health and genetic and biometric data). Nor do we collect any information about criminal convictions and offences.

  %p
    %b What happens when you do not provide necessary Personal Data?
    Where we need to process your Personal Data either to comply with law, or to perform the terms of a contract we have with you and you fail to provide that data when requested, we may not be able to perform the contract we have or are trying to enter into with you (for example, to provide you with the functionalities of the Services). In this case, we may have to stop you using our Services.

  %h3 How We Use Cookies And Other Tracking Or Profiling Technologies
  %p When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as “Device Information.”
  %p
    We collect Device Information using the following technologies:
    %ul
      %li “Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.
      %li “Log files” track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.
      %li “Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the Site.

  %h3 What cookies we use
  %p Our Site uses the following types of cookies for the purposes set out below:

  %p
    %b Essential Cookies.
    These cookies are essential to provide you with services available through our Site and to enable you to use some of its features. For example, they allow you to log in to secure areas of our Site and help the content of the pages you request to load quickly. Without these cookies, the Services that you have asked for cannot be provided, and we only use these cookies to provide you with those services.

  %p
    %b Functionality Cookies.
    These cookies allow our Site to remember choices you make when you use our Site, such as remembering your login details and remembering the changes you make to other parts of our Site which you can customize. The purpose of these cookies is to provide you with a more personal experience and to avoid you having to re-enter your preferences every time you visit our Site.

  %p
    %b Analytics and Performance Cookies.
    These cookies are used to collect information about traffic to our Site and how users use our Site. The information gathered via these cookies does not “directly” identify any individual visitor. However, it may render such visitors “indirectly identifiable”. This is because the information collected is typically linked to a pseudonymous identifier associated with the device you use to access our Site. The information collected is aggregated and anonymous. It may include the number of visitors to our Site, the websites that referred them to our Site, the pages they visited on our Site, what time of day they visited our Site, whether they have visited our Site before, and other similar information. We use this information to help operate our Site more efficiently, to gather broad demographic information and to monitor the level of activity on our Site. We may use a number of different tools including Google Analytics, Segment, Amplitude, Intercom, and Fullstory for this purpose.

  %p
    %b Targeted and advertising cookies.
    These cookies track your browsing habits to enable us to show advertising which is more likely to be of interest to you. These cookies use information about your browsing history to group you with other users who have similar interests. Based on that information, and with our permission, third party advertisers can place cookies to enable them to show adverts which we think will be relevant to your interests while you are on third party websites. Third party advertisers may also use other technologies in addition to cookies placed on the Site (such as JavaScript, or web beacons) to measure the effectiveness of their advertisements and to personalize the advertising content.

  %p
    %b Social Media Cookies.
    These cookies are used when you share information using a social media sharing button or “like” button on our Site or you link your account or engage with our content on or through a social networking website such as Facebook, Twitter or Google+. The social network will record that you have done this. These cookies may also include certain code that has been placed on the Site to help track conversions from ads, optimize ads based on collected data, build targeted audiences for future ads, and remarket to qualified users who have already taken certain action on the Site.

  %h3 How to Restrict Cookies
  %p You can typically reset your web browser to refuse all cookies or to notify you when a cookie is being sent. In order to do this, follow the instructions provided by your browser (usually located within the “settings”, “help” “tools” or “edit” facility). Many browsers are set to accept cookies until you change your settings.
  %p If you do not accept our cookies, you may experience some inconvenience in your use of our Services and some features of the Service may not function properly. For example, we may not be able to recognize your computer or mobile device and you may need to log in every time you visit our Services.
  %p Further information about cookies, including how to see what cookies have been set on your computer or mobile device and how to manage and delete them, visit www.allaboutcookies.org and www.youronlinechoices.com.

  %h3 Do Not Track
  %p Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal from your browser.

  %h3 Sharing Your Personal Information
  %p We share your Personal Information with third parties to help us use your Personal Information, as described above. For example, we use Google Analytics to help us understand how our customers use the Site--you can read more about how Google uses your Personal Information here:  https://www.google.com/intl/en/policies/privacy/.  You can also opt-out of Google Analytics here:  https://tools.google.com/dlpage/gaoptout.
  %p We may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.
  %p In addition, your Personal Data you choose to add to your profile as well as most Content you choose to post will be available for public viewing on the Service. If you want your information to remain private, don’t make it available to other users on our Site.
  %p As we develop our business, we may buy or sell businesses or assets. In the event of a corporate sale, merger, reorganization, dissolution or similar event, we may also transfer your Personal Data as part of the transferred assets without your consent or notice to you.
  %p We may also share non-Personal Data (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.) with interested third parties to help them understand the usage patterns for certain Services or conduct independent research based on such anonymous usage data.

  %h3 Behavioural Advertising
  %p As described above, we use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you.  For more information about how targeted advertising works, you can visit the Network Advertising Initiative’s (“NAI”) educational page at http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.
  %p
    You can opt out of targeted advertising by:
    %ul
      %li Facebook - https://www.facebook.com/settings/?tab=ads
      %li Google - https://www.google.com/settings/ads/anonymous
      %li Marin Software - http://www.marinsoftware.com/privacy/marin-tracker-opt-out
  %p Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance’s opt-out portal at:  http://optout.aboutads.info/.


  %h3 How long we store your personal data
  %p We will retain your information for as long as your account is active or it is reasonably needed for the purposes set out in How We Use Your Personal Data and Why unless you request that we remove your Personal Data as described in Your Rights Relating to Your Personal Data. We will only retain your Personal Data for so long as we reasonably need to use it for these purposes unless a longer retention period is required by law (for example for regulatory purposes). This may include keeping your Personal Data after you have deactivated your account for the period of time needed for us to pursue legitimate business interests, conduct audits, comply with (and demonstrate compliance with) legal obligations, resolve disputes and enforce our agreements.


  %h3 Where We Store Your Personal Data
  %p The Services are maintained in the United States of America. Personal Data that you provide us may be stored, processed and accessed by us, our staff, sub-contractors and third parties with whom we share Personal Data in the United States of America or elsewhere inside or outside of the EU for the purposes described in this policy. We may also store Personal Data in locations outside our direct control (for instance, on servers or databases co-located with hosting providers). Although we welcome users from all over the world, by accessing the Services and providing us with your Personal Data, you consent to and authorize the export of Personal Data to the United States and its storage and use as specified in this Privacy & Cookies Policy. Note the laws of the United States might not be as comprehensive or protective as laws in the country where you live.
  %p Because the Services are maintained in the United States of America, we do not transfer your Personal Data from the EU to any parties located outside the EU.


  %h3 Our Policy on Children's Privacy
  %p Protecting the privacy of young children is especially important. The Services are not intended for children below 16 and we do not knowingly collect or solicit personal information from anyone under the age of 16 or knowingly allow such persons to register with the Services. If you are under the age of 16, please do not submit any personal information through the Site. We encourage parents and legal guardians to monitor their children’s Internet usage and to help enforce our Privacy & Cookies Policy by instructing their children never to provide personal information on this Site. If we become aware that we have collected personal information from a child under age 16, we will take steps to remove that information.


  %h3 Links to Other Websites
  %p This Privacy & Cookies Policy applies only to the Services. The Services may contain links to other websites not operated or controlled by Assembly Made. We are not responsible for the content, accuracy or opinions expressed in such websites, and such websites are not investigated, monitored or checked for accuracy or completeness by us. Please remember that when you use a link to go from the Services to another website, our Privacy & Cookies Policy is no longer in effect. Your browsing and interaction on any other website, including those that have a link on our Site, is subject to that website’s own rules and policies. Such third parties may use their own cookies or other methods to collect information about you.


  %h3 Business Transfers
  %p If Assembly Made, or substantially all of its assets were acquired, or in the unlikely event that Assembly Made goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquiror of Assembly Made may continue to use your personal information as set forth in this policy.


  %h3 Privacy Policy Changes
  %p Although most changes are likely to be minor, we may change our Privacy Policy from time to time, and in our sole discretion. We encourage visitors to frequently check this page for any changes to its Privacy Policy. You can determine if changes have been made by checking the Effective Date above. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
