-content_for :title do
  500 : Coderwall is having some server issues

.clearfix
  .col.col-12{style:'margin-top: 10%;'}
    .center
      %h1 I don't feel so good
      %p.mb2.font-lg Coderwall is having some temporary server issues, sorry.
      =fa_icon('frown-o', style:'font-size:80px')
