<h1>Protips</h1>

<div class="protip card clearfix p1 mb2 likeable">
  <div class="overflow-hidden">
    <h3 class="mt0 mb0">
    </h3>
    <div class="font-sm diminish inline">
      <a href="#">
        <%= pluralize(72, 'responses') %>
      </a>
      &middot;
      <%= time_ago_in_words_with_ceiling(4.hours.ago) %> ago
      &middot;
    </div>
    <div class="font-sm inline">
      <a href="#">whatupdave</a>
    </div>
  </div>
</div>
