=content_for :title do
  A page to tell you about your incoming email

%h2 Wow, such a fancy address
%p
  %strong If we have email address for your account
  then within the next few minutes you will receive an email. It contains a link to change your password.
.clearfix.mt2
  = link_to "Sign In", sign_in_path
