- title "Reset your password"

.container
  %h2 Reset your password
  .sm-col-6
    %p Enter the email address for your Coderwall account to be emailed a link so you can reset your password.
    = form_for :password, url: passwords_path do |form|
      = form.label :email
      = form.text_field :email, type: 'email', class: 'field block col-10 mb1'
      %button.btn.mt1.rounded.bg-green.white{type: 'submit'} Reset password
    .clearfix.mt2
      You just remembered it? Nice!
      = link_to "Sign In", sign_in_path
