%h2 Reset your password
%p To be emailed a link to reset your password, please enter the email address for your Coderwall account.
= form_for :password, url: passwords_path, class: 'sm-col-6' do |form|
  = form.label :email
  = form.text_field :email, type: 'email', class: 'block mb1 col-6 field'
  %button.btn.btn-primary.mt1{type: 'submit'} Reset password
.clearfix.mt2
  Oh you just remembered it?
  = link_to "Sign In", sign_in_path
