@import 'vars';
@import 'fonts';

html {
	-webkit-font-smoothing: antialiased;
}

$red: #fa2f26;
$blue: #5AA3E8;
$diminish-color: rgba(0,0,0,0.5) !important;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$button-background-color: $red;
$body-background-color: rgb(250, 250, 250);

$body-font-size: 14px;
$font-sm: 12px;
$font-tiny: 10px;
$font-lg: 16px;
$font-x-lg: 18px;

$highlight-color: $red;
.highlight {
  display: inline;
  color: $highlight-color !important;
  a {
    color: $highlight-color !important;
  }
}

.diminish{
  color: $diminish-color;
	a{
		color: $diminish-color;
		&:hover {
			color: $diminish-color;
		}
	}
}

.font-sm {
  font-size: $font-sm;
}

.font-tiny{
  font-size: $font-tiny;
}

.font-lg {
	font-size: $font-lg;
}

.active {
	border-bottom: solid 3px $blue;
}

$h3: 18px;

h1, h3 {
	a{
		color: black;
		&:hover{
				text-decoration: none !important;
			}
	}
}

h3 {
  font-weight: 500 !important;
}

h6 {
  text-transform: uppercase;
}

@import 'font-awesome';
@import 'basscss';
@import 'content';
@import 'twilight_theme';

a.heart {
  padding-top: 4px;
  font-size: $font-sm;
  color: red;
  text-decoration: none;

  i {
    font-size: $font-sm;
  }

  &.flat {
    padding-top: 0px;
    font-size: $font-lg;
    font-weight: bold;
    i {
      font-size: $font-lg;
    }
  }
}

a.no-hover {
	&:hover{
		text-decoration: none;
	}
}
header {
  background-color: #fff;
}

.card {
  background-color: #fff;
}

.avatar {
	display: inline-block;

	position: relative;
	top: 8px;
	width: 24px;
	height: 24px;

	img{
    width: 24px;
    height: 24px;
  }

	&.medium, &.big{
		position: inherit;
		top: inherit;
	}

	&.big{
		width: 72px;
		height: 72px;
		img{
	    width: 72px;
	    height: 72px;
	  }
	}
}
