.content{
  font-size: $font-lg;
  line-height: 25px;

  a {
    color: $blue !important;
  }

  img{
    text-align: center;
    max-width: 100%;
    margin-bottom: $space-2;

  }

  strong {
    font-weight: normal;
  }

  hr {
    margin-bottom: $space-2;
    border: 0;
    height: 2px;
    background-color: $border-color;
  }

  em {
    font-weight: normal;
    font-style: normal;
  }

  pre {
    background-color: rgba(250,250,250,0.7);
    padding: $space-2;

    code{
    }
  }

  code {
    // white-space:nowrap;
    a {
      color: $black;
    }
  }

  p {
    margin-bottom: $space-2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4 {
    margin-top: $space-1;
    margin-bottom: $space-2;
    font-size: $font-lg;
    a {
      color: $black;
    }
  }

  blockquote {
    padding-left: $space-1;
    margin-bottom: $space-2;
    p {
      margin: 0;
    }
  }
}
