.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;  
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btn {

}
